    <div class="featured-box featured-box-primary featured-box-text-left feature-box-style-6">
        <div class="box-content">

            <div class="row">
                <div class="col-md-12">
                    <div class="feature-box feature-box-style-5">
                        <div class="feature-box-icon">
                            <i class="fa fa-comments"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="mb-sm">
                                <a>{{community.name}} </a>({{community.users.length}} User)</h4>
                            <strong class="mb-lg">Public Group</strong>
                            <a class="drug-btn btn btn-borders btn-xs btn-primary custom-button text-uppercase  font-weight" data-toggle="modal" data-target="#defaultModal"
                                style="margin-left:20px;">
                                <i></i>Join Group</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
