
  
    <div class="featured-box featured-box-primary featured-box-text-left">
      <div class="box-content">
        <div class="row">
          <div class="col-md-9">
            <h2>Paracetamol</h2>
          </div>

        </div>
        <div class="row">
          <div class="col-md-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet. Quisque
              rutrum pellentesque imperdiet. Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum
              pellentesque imperdiet.</p>
            <button class="btn btn-lg btn-primary mr-xs mb-lg" type="button">Learn More</button>
          </div>
        </div>
      </div>
    </div>
  
