.featured-box-text-left {
    text-align: left;
}
.featured-box{
background: linear-gradient(to bottom, #FFF 1%, #fcfcfc 98%) repeat scroll 0 0 transparent;
box-sizing: border-box;
    border-bottom: 1px solid #DFDFDF;
    border-left: 1px solid #ECECEC;
    /*border-radius: 8px;*/
    border-right: 1px solid #ECECEC;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04);
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    min-height: 100px;
    position: relative;
    z-index: 1;
}
.featured-box .box-content {
    /*border-radius: 8px;*/
    border-top: 1px solid #CCC;
    border-top-width: 4px;
    padding: 20px 30px 20px 30px;
    position: relative;
    top: -1px;
}
.featured-box-text-left {
    text-align: left;
}
h2 {
    margin: 0 0 10px 0 !important;
}
h2 {
    font-size: 2.2em;
    font-weight: 300;
    line-height: 42px;
    margin: 0 0 32px 0;
}
h1, h2, h3, h4, h5, h6 {
    color: #1d2127;
    font-weight: 200;
    letter-spacing: -1px;
    margin: 0;
}
.featured-box-text-left {
    text-align: left;
}
.featured-box-primary .box-content {
    border-top-color: #007bff;
}
.btn-primary:active:hover
{
    color: #fff;
    background-color: #204d74;
    border-color: #122b40;
}
.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 0px;
}
.btn-primary{
    background-color: #007bff;
}