<form [formGroup]="myForm" (ngSubmit)='onSubmit()'>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="featured-boxes">
          <div class="row">
            <div class="col-sm-10 col-md-offset-1">
              <div class="featured-box featured-box-primary align-left mt-xlg">
                <div class="box-content">
                  <h4 class="heading-primary text-uppercase mb-md">{{title}}</h4>

                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="w1-username">Trade Name</label>
                    <div class="col-sm-10">
                      <input 
                      type="text" 
                      class="form-control input-sm" 
                      name="tradeName" 
                      id="w1-username" 
                      placeholder="Enter Trade Name" 
                      formControlName="tradeName" required>
                     <div *ngIf="myForm.get('tradeName').touched && myForm.get('tradeName').invalid" style="color:red">Trade Name is required</div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="w1-username">Company</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control input-sm" name="company" id="w1-username" placeholder="Enter Company" formControlName="company">
                      <div *ngIf="myForm.get('company').touched && myForm.get('company').invalid" style="color:red">Company is required</div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2  control-label">Active Ingrediates</label>
                    <div class="col-sm-10">
                      <select multiple data-plugin-selectTwo class="form-control populate" formControlName="activeIngredient" name="activeIngredient">
                        <option [value]="activeIngredient.id" *ngFor="let activeIngredient of activeIngredients">{{activeIngredient.name}} </option>
                      </select>
                      <!-- <div *ngIf="myForm.get('activeIngredient').touched && myForm.get('activeIngredient').invalid" style="color:red">Active Ingredient is required</div> -->
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="w1-username">Usage</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control input-sm" name="usage" id="w1-username" placeholder="Enter Usgae" formControlName="usage" required>
                      <div *ngIf="myForm.get('usage').touched && myForm.get('usage').invalid" style="color:red">Usage is required</div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="w1-username">Dosage</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control input-sm" name="dosage" id="w1-username" placeholder="Enter Dosage" formControlName="dosage" required>
                      <div *ngIf="myForm.get('dosage').touched && myForm.get('dosage').invalid" style="color:red">Dosage is required</div>
                    </div>
                  </div>


                  <div class="form-group">
                    <label class="col-sm-3 control-label" style="margin-top:10px;">Pregnency Warning</label>

                    <div class="col-sm-3" style="margin-left:-70px;">
                      <div class="radio">
                        <label>
                          <input type="radio" name="pregnancyWarning" [value]=true formControlName="pregnancyWarning"> Yes
                        </label>
                      </div>
                    </div>
                    <div class="col-sm-3 ">
                      <div class="radio">
                        <label>
                          <input type="radio" name="pregnancyWarning" [value]=false formControlName="pregnancyWarning"> No
                        </label>
                      </div>
                    </div>
                     <div *ngIf="myForm.get('pregnancyWarning').invalid" style="color:red">Pregnancy Warning is required</div> 
                  </div>

                  <div class="form-group">
                    <label class="col-sm-3 control-label" style="margin-top:10px;">Children Warning</label>

                    <div class="col-sm-3" style="margin-left:-70px;">
                      <div class="radio">
                        <label>
                          <input type="radio" name="childernWarning" [value]=true checked="" formControlName="childernWarning"> Yes
                        </label>
                      </div>
                    </div>
                    <div class="col-sm-3 ">
                      <div class="radio">
                        <label>
                          <input type="radio" name="childernWarning" [value]=false checked="" formControlName="childernWarning"> No
                        </label>
                      </div>
                    </div>
                    <div *ngIf="myForm.get('childernWarning').invalid" style="color:red">Childern Warning is required</div>

                  </div>



                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="w1-username">Warning</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control input-sm" name="warning" id="w1-username" placeholder="Enter Warning" formControlName="warning">
                    </div>
                  </div>


                  <div class="form-group">
                    <label class="col-sm-2  control-label">Type</label>
                    <div class="col-sm-10">
                      <select multiple class="form-control populate" formControlName="type" (change)='callType()' name="type">
                        <option [value]="type.id" *ngFor="let type of types">{{type.name}}</option>
                      </select>
                      <!-- <div *ngIf="myForm.get('type').touched && myForm.get('type').invalid" style="color:red">Type is required</div> -->
                    </div>
                  </div>

                  <div class="form-group" *ngIf="pill">
                    <label class="col-sm-2 control-label" for="w1-username">Text On One Side</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control input-sm" name="textOnSide" id="textOnOneSide" placeholder="Enter Text On One Side" formControlName="textOnSide">
                    </div>
                  </div>

                  <div class="form-group" *ngIf="pill">
                    <label class="col-sm-2 control-label" for="w1-username">Text On Other Side</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control input-sm" name="textOnOther" id="textOnOtherSide" placeholder="Enter Text On Other Side" formControlName="textOnOther">
                    </div>
                  </div>

                  <div class="form-group" *ngIf="pill">
                    <label class="col-sm-2 control-label">Shape</label>
                    <div class="col-sm-10">
                      <select data-plugin-selectTwo class="form-control populate" id="dropDownShape" formControlName="shape" name="shape">
                        <option [value]="shape.id" *ngFor="let shape of shapes">{{shape.name}}</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group" *ngIf="pill">
                    <label class="col-sm-2 control-label">Color</label>
                    <div class="col-sm-10">
                      <select data-plugin-selectTwo class="form-control populate" id="dropDownColor" formControlName="color" name="color">
                        <option [value]="color.id" *ngFor="let color of colors" >{{color.name}}</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label">Strength</label>
                    <div class="col-sm-5">
                            <input id="strengthText" type="number" class="spinner-input form-control" formControlName="strength" name="strength">
                            <div *ngIf="myForm.get('strength').touched && myForm.get('strength').invalid" style="color:red">Strength is required</div>
                    </div>
                    <div class="col-sm-5">
                      <select id="dropDownUnit" data-plugin-selectTwo class="form-control populate"  formControlName="strengthUnit" name="strengthUnit">
                        <option [value]="strengthUnit.id" *ngFor="let strengthUnit of strengthUnits">{{strengthUnit.name}}</option>
                      </select>
                      <!-- <div *ngIf="myForm.get('strengthUnit').touched && myForm.get('strengthUnit').invalid" style="color:red">Strength Unit is required</div> -->
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-2 control-label">Approval History</label>
                    <div class="col-md-7">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="fa fa-calendar"></i>
                        </span>
                        <input type="date" class="form-control datepicker input-sm" name="approvalHistory" id="date" placeholder="__/__/____" formControlName="approvalHistory">
                        <!-- <div *ngIf="myForm.get('approvalHistory').touched && myForm.get('approvalHistory').invalid" style="color:red">Approval History is required</div> -->
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label">Upload Drug Logo</label>
                    <div class="col-sm-10">
                      <div class="fileupload fileupload-new" data-provides="fileupload">
                        <div class="input-append">
                          <div class="uneditable-input">
                            <i class="fa fa-file fileupload-exists"></i>
                            <span class="fileupload-preview"></span>
                          </div>
                          <span class="btn btn-default btn-file">
                            <span class="fileupload-exists">Change</span>
                            <span class="fileupload-new">Select Image</span>
                            <input type="file" formControlName="drugLogo" name="drugLogo"/>
                          </span>
                          <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Remove</a>
                        </div>
                      </div>
                    </div>
                    <!-- <div *ngIf="myForm.get('drugLogo').touched && myForm.get('drugLogo').invalid" style="color:red">Drug Logo is required</div> -->
                  </div>


                  <div class="form-group" *ngIf="pill">
                    <label class="col-sm-2 control-label">Upload Pill Image</label>
                    <div class="col-sm-10">
                      <div class="fileupload fileupload-new" data-provides="fileupload">
                        <div class="input-append">
                          <div class="uneditable-input">
                            <i class="fa fa-file fileupload-exists"></i>
                            <span class="fileupload-preview"></span>
                          </div>
                          <span class="btn btn-default btn-file">
                            <span class="fileupload-exists">Change</span>
                            <span class="fileupload-new">Select Image</span>
                            <input type="file" formControlName="pillImage" name="pillImage"/>
                          </span>
                          <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Remove</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <span class="remember-box checkbox"></span>

                    </div>
                    <div class="col-md-6">
                      <input type="button" value="Cancel" class="btn btn-primary pull-right mb-xl" data-loading-text="Loading..." (click)="cancelForm()" />
                      <input type="submit" value="Add" class="btn btn-primary pull-right mb-xl" data-loading-text="Loading..." style="margin-right: 5px;"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>