<div class="featured-box featured-box-tertiary mt-sm ">
    <div class="box-content">
        <div class="col-md-4 col-md-offset-10" style="margin-top:-10px;">
            <a [routerLink]="['/diseaseEdit',disease.id]">
                <button type="button" class="btn-borders btn-primary btn-info primary btn-xs">
                    <i class="fa fa-edit">
                    </i>
                </button>
            </a>

            <a [routerLink]="['/diseaseDetails',disease.id]">
                <button type="button" class="btn-danger primary btn-xs btn-borders" (click)="deleteDisease(disease.id)">
                    <i class="fa fa-trash">
                    </i>
                </button>
            </a>
        </div>


        <div class="col-md-12">
            <i class="fa fa-stethoscope" style="font-size:50px;color:#3aabdd;"></i>
            <!-- <h2 class="mb-none" style="margin-top:20px;">{{disease.name}}</h2> -->
            <h2 class="mb-none" style="margin-top:20px;">{{disease.name}}</h2>
            <p>
                {{disease.descripton}}
            </p>
            <!-- <p>
                    {{disease.descripton}}
            </p> -->
        </div>
        <!-- <a [routerLink]="['/diseaseDetails',disease.id]">know more </a> -->
        <a [routerLink]="['/diseaseDetails',disease.id]">
            <button class="btn btn-primary btn-tertiary">know more</button>
        </a>

    </div>
</div>