<div class="featured-box featured-box-tertiary mt-sm">
    <div class="box-content">
        <div class="col-md-12">
            <i class="fa fa-stethoscope" style="font-size:50px;color:#3aabdd;"></i>
            <!-- <h2 class="mb-none" style="margin-top:20px;">{{disease.name}}</h2> -->
            <h2 class="mb-none" style="margin-top:20px;">Cancer</h2>

            <p>
                description 
            </p>
            <!-- <p>
                    {{disease.descripton}}
            </p> -->
        </div>
        <button class="btn btn-tertiary mr-xs mb-lg" type="button">Know More</button>
    </div>
</div>