<div role="main" class="main shop">
  <div class="container">
    <div class="row"> <input
      type="text"
      name="search"
      placeholder="Insert Food Name"
      [(ngModel)]="name"
      ></div>
    <div class="row">
      
     
      <div class="col-md-12">
        
        <div class="featured-boxes">
          <div class="row">
           <app-food-item 
           *ngFor="let fooditem of foodlist | food : name" 
           [food]="fooditem" 
           class="col-sm-4">
          </app-food-item>
          </div>
        </div>
        <button class="col-md-offset-9 col-xs-offset-6 btn btn-secondary mr-xs mb-lg" type="button"(click)="openModalWithComponent()">ِAdd Food</button>

      </div>
    </div>
  </div>

</div>
