<div role="main" class="main shop container">
  <div>
    <div class="row"> 
      
      <div class=" mt-xlg">
          <div class="input-group">
              <input
              type="text"
              class="form-control"
              name="search"
              placeholder="Insert Food Name"
              [(ngModel)]="name"
              >              <span class="input-group-btn">
                  <button class="btn btn-primary btn-md">
                      <span>
                          <i class="fa fa-search" style="color:white"></i>
                      </span>
                  </button>
    
              </span>
          </div>
      </div>
    </div>
      
      </div>
    <div class="row">
      
     
      <div class="col-md-12">
        
        <div class="featured-boxes">
          <div class="row">
           <app-food-item 
           *ngFor="let fooditem of foodlist | food : name" 
           [food]="fooditem" 
           class="col-sm-4">
          </app-food-item>
          </div>
        </div>
        <button class="col-md-offset-9 col-xs-offset-6 btn btn-secondary mr-xs mb-lg" type="button"(click)="openModalWithComponent()">ِAdd Food</button>

      </div>
    </div>
  </div>


