<div class="col-md-3">

  <div class="featured-box featured-box-primary featured-box-text-left">

    <div class="box-content">

      <div class="row">
        <div class="col-md-5 col-xs-5">

          <div class="user-avatar">

            <div class="img-thumbnail">
              <img class="img-responsive" src="./../../../../assets/images/client-1.jpg" alt="">
            </div>
            <h6 class="drug-avatar">
              <button type="button" class="btn-3d btn-info primary btn-xs">Panadol</button>
            </h6>

          </div>
        </div>
        <div class="col-md-7 col-xs-7">
          <div class="row drug-buttons">
            <div class="col-md-offset-9 col-xs-offset-7">

              <button type="button" class="btn-borders btn-primary btn-3d btn-info primary btn-xs">
                <i class="fa fa-edit">
                </i>
              </button>
              <button type="button" class="btn btn-3d btn btn-danger primary btn-xs btn-borders">
                <i class="fa fa-trash">
                </i>
              </button>
            </div>
          </div>

          <table class="table table-hover">
            <tr>
              <td>
                Dose

              </td>
              <td>
                12

              </td>
            </tr>
            <tr>
              <td>
                pills-mls/day

              </td>
              <td>
                1 pills/day
              </td>
            </tr>
            <tr>
              <td>
                Start Date

              </td>
              <td>
                12/12/2012
              </td>
            </tr>
          </table>


        </div>
      </div>

    </div>
  </div>
</div>