<div class="col-sm-6 col-sm-pull-6">
  <div class="featured-box featured-box-primary align-left mt-xlg" style="height: 376.312px;">
    <div class="box-content">

      <h4 class="heading-primary text-uppercase mb-md">Pill Identifier</h4>

      <form [formGroup]="searchForm" (ngSubmit)="searchPill()">

        <div class="row searchMargin">
          <div class="form-group">
            <div class="col-md-6">
              <label>Text on one side</label>

              <input type="text" name="FrontImprint" formControlName="FrontImprint" class="form-control" id="Front" (keyup)="onDataChanged()">

            </div>
            <div class="col-md-6">
              <label>Text on the other side</label>

              <input type="text" name="BackImprint" formControlName="BackImprint" class="form-control" id="Back" placeholder="If Available" (keyup)="onDataChanged()">

            </div>
          </div>
        </div>

        <div class="row searchMargin">

          <div class="form-group">
            <div class="col-md-12">
              <label>Color</label>
              <select class="form-control" name="Color" formControlName="Color" id="Color" (change)="onDataChanged()">
                <option [value]="0" [selected]=true>None Selected</option>
                <option [value]="color.id" *ngFor="let color of colors">{{color.name}}</option>
              </select>

            </div>
          </div>
        </div>

        <div class="row searchMargin">
          <div class="form-group">
            <div class="col-md-12">
              <label>Shape</label>

              <select class="form-control" name="Shape" formControlName="Shape" id="Shape"  (change)="onDataChanged()">
                <option [value]="0" [selected]=true>None Selected</option>
                <option [value]="shape.id" *ngFor="let shape of shapes">{{shape.name}}</option>
              </select>

            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">

            <button class="btn btn-primary pull-right mb-xl" [disabled] = "isDisabled" type="submit" id="search_button">
              <span>
                Search
                <i class="fa fa-search"></i>
              </span>
             
            </button>

          </div>
        </div>

      </form>

    </div>
  </div>
</div>