<div  style="border-left:1px solid #eee;padding-left:15px;">
    <aside class="sidebar patient-profile">
        <h5 class="heading-primary">Today On Cura</h5>
        <ul class="simple-post-list">
            <li>
                <div class="post-image">
                    <div class="img-thumbnail">
                        <a href="shop-product-sidebar.html">
                            <img alt="" width="60" height="60" class="img-responsive" src="../../../../assets/images/5p.jpg">
                        </a>
                    </div>
                </div>
                <div class="post-info">
                    <a href="shop-product-sidebar.html">Lung Cancer Diagnosis </a>
                    <div class="post-meta">
                        Lorem ipsum adas sjlkad asdj aslkkdj dsjlkasd sdjlak
                    </div>
                </div>
            </li>
            <li>
                <div class="post-image">
                    <div class="img-thumbnail">
                        <a href="shop-product-sidebar.html">
                            <img alt="" width="60" height="60" class="img-responsive" src="../../../../assets/images/5p.jpg">
                        </a>
                    </div>
                </div>
                <div class="post-info">
                    <a href="shop-product-sidebar.html">Warning of Breast Cancer</a>
                    <div class="post-meta">
                        Lorem ipsum jksad jlksajd lkasadj asjdlk
                    </div>
                </div>
            </li>
            <li>
                <div class="post-image">
                    <div class="img-thumbnail">
                        <a href="shop-product-sidebar.html">
                            <img alt="" width="60" height="60" class="img-responsive" src="../../../../assets/images/5p.jpg">
                        </a>
                    </div>
                </div>
                <div class="post-info">
                    <a href="shop-product-sidebar.html">Treatment Multiple Myeloma</a>
                    <div class="post-meta">
                        Lorem ipsum jssas sjjrh shdsou
                    </div>
                </div>
            </li>
        </ul>
        <hr>
        <h5 class="heading-primary">RECOMMENDED FOR YOU</h5>
        <ul class="simple-post-list">
            <li>
                <div class="post-image">
                    <div class="img-thumbnail">
                        <a href="shop-product-sidebar.html">
                            <img alt="" width="60" height="60" class="img-responsive" src="../../../../assets/images/5p.jpg">
                        </a>
                    </div>
                </div>
                <div class="post-info">
                    <a href="shop-product-sidebar.html">Questions about this</a>
                    <div class="post-meta">
                        Lorem ipsum adas sjlkad asdj aslkkdj dsjlkasd sdjlak
                    </div>
                </div>
            </li>
            <li>
                <div class="post-image">
                    <div class="img-thumbnail">
                        <a href="shop-product-sidebar.html">
                            <img alt="" width="60" height="60" class="img-responsive" src="../../../../assets/images/5p.jpg">
                        </a>
                    </div>
                </div>
                <div class="post-info">
                    <a href="shop-product-sidebar.html">Questions about that</a>
                    <div class="post-meta">
                        Lorem ipsum jksad jlksajd lkasadj asjdlk
                    </div>
                </div>
            </li>
            <li>
                <div class="post-image">
                    <div class="img-thumbnail">
                        <a href="shop-product-sidebar.html">
                            <img alt="" width="60" height="60" class="img-responsive" src="../../../../assets/images/5p.jpg">
                        </a>
                    </div>
                </div>
                <div class="post-info">
                    <a href="shop-product-sidebar.html">Questions about those</a>
                    <div class="post-meta">
                        Lorem ipsum jssas sjjrh shdsou
                    </div>
                </div>
            </li>
        </ul>

    </aside>
</div>