<div  style="border-left:1px solid #eee;padding-left:15px;">
    <aside class="sidebar patient-profile">
        <h5 class="heading-primary">Today On Cura</h5>
        <ul class="simple-post-list">
            <li>
                <div class="post-image">
                    <div class="img-thumbnail">
                        <a href="shop-product-sidebar.html">
                            <img alt="" width="60" height="60" class="img-responsive" src="../../../../assets/images/5p.jpg">
                        </a>
                    </div>
                </div>
                <div class="post-info">
                    <a href="shop-product-sidebar.html">Schizophrenia </a>
                    <div class="post-meta">
                            More and more studies have been ...
                    </div>
                </div>
            </li>
            <li>
                <div class="post-image">
                    <div class="img-thumbnail">
                        <a href="shop-product-sidebar.html">
                            <img alt="" width="60" height="60" class="img-responsive" src="../../../../assets/images/5p.jpg">
                        </a>
                    </div>
                </div>
                <div class="post-info">
                    <a href="shop-product-sidebar.html">Warning of Breast Cancer</a>
                    <div class="post-meta">
                            Pilot data from a recent study ...
                    </div>
                </div>
            </li>
            <li>
                <div class="post-image">
                    <div class="img-thumbnail">
                        <a href="shop-product-sidebar.html">
                            <img alt="" width="60" height="60" class="img-responsive" src="../../../../assets/images/5p.jpg">
                        </a>
                    </div>
                </div>
                <div class="post-info">
                    <a href="shop-product-sidebar.html">When One Teen Vapes</a>
                    <div class="post-meta">
                            Brenda Goodman grant from a ..
                    </div>
                </div>
            </li>
        </ul>
        <hr>
        <h5 class="heading-primary">RECOMMENDED FOR YOU</h5>
        <ul class="simple-post-list">
            <li>
                <div class="post-image">
                    <div class="img-thumbnail">
                        <a href="shop-product-sidebar.html">
                            <img alt="" width="60" height="60" class="img-responsive" src="../../../../assets/images/5p.jpg">
                        </a>
                    </div>
                </div>
                <div class="post-info">
                    <a href="shop-product-sidebar.html">Questions about this</a>
                    <div class="post-meta">
                            st-traumatic stress disorder (PTSD), which can destroy a person's life. It is currently ...
                    </div>
                </div>
            </li>
            <li>
                <div class="post-image">
                    <div class="img-thumbnail">
                        <a href="shop-product-sidebar.html">
                            <img alt="" width="60" height="60" class="img-responsive" src="../../../../assets/images/5p.jpg">
                        </a>
                    </div>
                </div>
                <div class="post-info">
                    <a href="shop-product-sidebar.html">Questions about that</a>
                    <div class="post-meta">
                            have located these neurons in the brain's dentate gyrus, an area of the
                    </div>
                </div>
            </li>
            <li>
                <div class="post-image">
                    <div class="img-thumbnail">
                        <a href="shop-product-sidebar.html">
                            <img alt="" width="60" height="60" class="img-responsive" src="../../../../assets/images/5p.jpg">
                        </a>
                    </div>
                </div>
                <div class="post-info">
                    <a href="shop-product-sidebar.html">Questions about those</a>
                    <div class="post-meta">
                            how therapy can treat even long-term memories of trauma. Our findings shed ...
                    </div>
                </div>
            </li>
        </ul>

    </aside>
</div>