  <!-- <form #f="ngForm" (ngSubmit)="onSubmit(f)"> -->
  <div class=" mt-xlg">
      <div class="input-group">
          <!-- <div class="input-group-btn search-panel">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="border-color: #ccc">
                  <span id="search_concept">Filter by</span>
                  
                 <span class="caret"></span> </button> 
               
              <ul class="dropdown-menu" role="menu">
                  <li>
                      <a href="#contains">Contains</a>
                  </li>
                  <li>
                      <a href="#its_equal">It's equal</a>
                  </li>
                  <li>
                      <a href="#greather_than">Greather than ></a>
                  </li>
                  <li>
                      <a href="#less_than">
                          Less than >
                      </a>
                  </li>
                  <li class="divider"></li>
                  <li>
                      <a href="#all">Anything</a>
                  </li>
              </ul>
          </div> -->
          <input type="text" class="form-control" name="txtSearch" id="DrugName" placeholder="Search term..." (change)="onChange()" [(ngModel)]="drug" />
          <span class="input-group-btn">
              <button class="btn btn-primary btn-md">
                  <span>
                      <i class="fa fa-search" style="color:white"></i>
                  </span>
              </button>

          </span>
      </div>
  </div>
<!-- </form> -->