<div>
        <div class="featured-box featured-box-primary align-left mt-xlg">

            <div class="box-content" style="padding-top:18px ">
                <div class="row drug-buttons ">
                    <div class="col-md-3 offset-md-9 col-xs-3 offset-xs-10" style="padding-right:0px">
                          <a [routerLink]="['/drug/editDrug',drugs.id]">
                        <button type="button" class="btn-borders btn-primary btn-info primary btn-xs"  >
                            <i class="fa fa-edit">
                            </i>
                        </button>
                    </a>
                        <button type="button" class="btn-danger primary btn-xs btn-borders" (click)="deleteDrug(drugs.id)">
                            <i class="fa fa-trash">
                            </i>
                        </button>
                    </div>
                </div>
                <div class="row drugImage" >
                    <a class="img-thumbnail img-thumbnail-hover-icon viewdrugtype" [routerLink]="['/drug/details',drugs.id]">
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <div class="user-avatar">
                                <div class="img-thumbnail">
                                    <img class="img-responsive" src="{{drugs.image}}" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-xs-6">
                        

                            <br>
                            <h2 class="heading-primary mb-md">
                                <strong>{{drugs.drugName}}</strong>
                            </h2>
                            <div class="row" style="margin-top:-15px">
                                <div class="col-md-2 col-xs-3">
                                    <img class="drugtypeimage" src="{{drugs.drugTypeImage}}" alt="">

                                </div>
                                <div class="col-md-3 col-xs-3">

                                    <h4 class="heading-primary mb-md">{{drugs.drugTypeName}} </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                    <table class="cart-totals">
                        <tbody>
                            <tr class="cart-subtotal">
                                <th>
                                    <strong>Ingredients </strong>
                                </th>
                                <td class="drugtypeinfopadding">
                                    <ul>
                                        <li style="list-style-type: none;" *ngFor="let i of drugs.activeIngredient;let x=index" >
                                         {{drugs.activeIngredient[x]}}
                                        </li>
                                    </ul>

                                </td>
                            </tr>
                            <tr class="shipping">
                                <th>
                                    Strength
                                </th>
                                <td class="drugtypeinfopadding">

                                    <ul>
                                        <li style="list-style-type: none;">
                                            {{drugs.strength}} {{drugs.strengthUnit}}
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr class="total">
                                <th>
                                    <strong>Usage</strong>
                                </th>
                                <td class="drugtypeinfopadding">

                                    <ul>
                                        <li style="list-style-type: none;">
                                           {{drugs.usage}}
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr class="cart-subtotal">
                                <th>
                                    <strong>Dosage </strong>
                                </th>
                                <td class="drugtypeinfopadding">
                                    <ul>
                                        <li style="list-style-type: none;">
                                            {{drugs.dosage}} 
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>