   <!--second component-->
   <div >
    <div class="featured-box featured-box-primary align-left mt-xlg">
        <div class="box-content">
            <div class="row">
                <div class="col-md-5 col-xs-5">
                    <div class="user-avatar">
                        <div class="img-thumbnail">
                            <img class="img-responsive" src="images/panadol1.jpg" alt="">
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-md-3 col-xs-3">

                                <h4 class="heading-primary mb-md"><strong>Panadol</strong> </h4>
                            </div>
                        </div>
                </div>
                <div class="col-md-2">
                        <i class="fa fa-times-circle " id="interactionColor" style="font-size:30px;color:rgb(165, 11, 11);margin-top:45px;"></i>
                </div>
                <div class="col-md-5 col-xs-5">
                        <div class="user-avatar">
                                <div class="img-thumbnail">
                                    <img class="img-responsive" src="./../../../../assets//images//panadol1.jpg" alt="">
                                </div>
                            </div>
                    <div class="row">
                        <div class="col-md-3 col-xs-3">

                            <h4 class="heading-primary mb-md"><strong>Panadol</strong></h4>
                        </div>
                    </div>
                </div>
                <table class="cart-totals">
                    <tbody>
                        <tr class="cart-subtotal">
                            <th>
                                    <i class="fa fa-circle mr-xl" style="color : red"></i>
                            </th>
                            <th>
                                    <strong style="color:black;">Major</strong>														

                            </th>
                        </tr>
                        <tr class="shipping">
                            <th>
                               <strong style="color:black;">Description</strong>
                            </th>
                            <td>
                                    Paracetamol Paracetamol Paracetamol Paracetamol Paracetamol Paracetamol Paracetamol
                                    Paracetamol Paracetamol Paracetamol Paracetamol Paracetamol Paracetamol Paracetamol	
                                    Paracetamol Paracetamol Paracetamol Paracetamol Paracetamol Paracetamol Paracetamol
                                    Paracetamol Paracetamol Paracetamol Paracetamol Paracetamol Paracetamol Paracetamol	
                                <input type="hidden" value="free_shipping" id="shipping_method" name="shipping_method">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
