<div class="padded">
    <div class="featured-box featured-box-secondary">
        <a [routerLink]="['interactions/foodinteraction/page',foodInteraction.id]">
        <div class="box-content">
            <div class="row">
                <div>
                    <i class="icon-featured">{{foodInteraction.icon}}</i>
                </div>

            </div>
            <div class="row">
                <p [ngSwitch]="foodInteraction.degree">
                    <strong class="item-centered center">
                            <i class="fa fa-circle mr-xl" style="color : red" *ngSwitchCase="'Red'"></i>
                            <i class="fa fa-circle mr-xl" style="color : yellow" *ngSwitchCase="'yellow'"></i>
                        {{foodInteraction.foodName}} 
                    </strong>
                </p>
                <p>
                    <strong class="item-centered center">Description: </strong>
                    {{foodInteraction.description}}
                </p>
            </div>
        </div>
    </a>
    </div>
</div>