       <div class="padded"> 
<div class="featured-box featured-box-secondary">
    <div class="box-content">
        <div class="row">
            <div><i class="icon-featured pull-left">{{foodInteraction.icon}}</i></div>
            
        </div>
        <div class="row">
          <p>
            <strong class="item-centered center">{{foodInteraction.degree}} {{foodInteraction.foodName}} </strong>
          </p>
            <p>
                <strong class="item-centered center">Description: </strong>
                {{foodInteraction.description}}
              </p>
        </div>
    </div>
</div>
</div> 