<div class="col-md-3 col-sm-6">
    <div class="featured-box featured-box-primary featured-box-effect-2">
        <div class="box-content">
            <div class="row">
                <div class="col-md-offset-9 col-xs-offset-9" style="font-size:14px;">

                    <button type="button" class="btn-borders btn-primary btn-info primary btn-xs">
                    <a href="#">
                        <i class="fa fa-edit">
                        </i>
                    </a>
                     </button>
                    <button type="button" class="btn-danger primary btn-xs btn-borders">
                    <a href="#">
                        <i class="fa fa-trash" onclick="Delete()">
                        </i>
                    </a>
                </button>
                   
                </div>
            </div>
            <i class="icon-featured fa fa-user"></i>
            <h4>name</h4>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
        </div>
    </div>
</div>


