
    <div class="featured-box featured-box-primary featured-box-effect-2">
      <div class="box-content">
        <div class="row">
          <div class="col-md-offset-9 col-xs-offset-9" style="font-size:14px;">

            <button type="button" class="btn-borders btn-primary btn-info primary btn-xs">
              <a href="#">
                <i class="fa fa-edit">
                </i>
              </a>
            </button>
            <button type="button" class="btn-danger primary btn-xs btn-borders">
              <a href="#">
                <i class="fa fa-trash" onclick="Delete()">
                </i>
              </a>
            </button>

          </div>
        </div>
        <i class="icon-featured {{sideeffect.icon}}"></i>
        <h4>{{sideeffect.name}}</h4>
        <p>{{sideeffect.description}}</p>
      </div>
    </div>



