<div class="col-md-3 col-sm-6">

    <div class="featured-box featured-box-tertiary mt-sm">
        <div class="box-content">
            <div class="row">
                    <div class="col-md-offset-10 col-xs-offset-10" style="font-size:14px;">
                <i class="fa fa-stethoscope" style="font-size:50px;color:#3aabdd;"></i>

                <h2 class="mb-none" style="margin-top:20px;">SideEffect Name</h2>

                <p>
                   details ai klam 3ANO w 5las 
                </p>
            </div>
        </div>
           

        </div>

    </div>

</div>