<div class="leftdiv"style="border-right:1px solid #eee;">
    <aside class="sidebar" id="sidebar" data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 110}}">
        <h4 class="heading-primary">
            <strong>shortcuts </strong> 
        </h4>
  
        <ul class="nav  mb-xlg sort-source" data-sort-id="portfolio" data-option-key="filter" data-plugin-options="{'layoutMode': 'fitRows', 'filter': '*'}">
            <li data-option-value="*" class="active">
                <a href="#">Home</a>
            </li>
            <li data-option-value=".websites">
                <a href="#">MailBox</a>
            </li>
            <li data-option-value=".logos">
                <a href="#">Logos</a>
            </li>
            <li data-option-value=".brands">
                <a href="#">Brands</a>
            </li>
        </ul>
  
        <h4 class="heading-primary">
            <strong>communities </strong> 
        </h4>
  
        <ul class="nav  mb-xlg sort-source" data-sort-id="portfolio" data-option-key="filter" data-plugin-options="{'layoutMode': 'fitRows', 'filter': '*'}">
            <li data-option-value="*" class="active">
                <a href="#">community1</a>
            </li>
            <li data-option-value=".websites">
                <a href="#">community2</a>
            </li>
            <li data-option-value=".logos">
                <a href="#">community3</a>
            </li>
            <li data-option-value=".brands">
                <a href="#">community4</a>
            </li>
        </ul>
    </aside>
    </div>