<section class="page-header page-header-color page-header-primary page-header-float-breadcrumb">
    <div class="container">
        <div>
            <div class="row"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1 class="mt-xs">Pill Identifier</h1>
                <ul class="breadcrumb breadcrumb-valign-mid">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li class="active">Pill Identifier</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<app-pill-listing></app-pill-listing>