<!-- <section class="page-header page-header-color page-header-primary page-header-float-breadcrumb pillSection" >
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="mt-xs">Pill Identifier</h1>
                <ul class="breadcrumb breadcrumb-valign-mid">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li class="active">Pill Identifier</li>
                </ul>
            </div>
        </div>
    </div>
</section> -->

<section class="page-header" style="padding-bottom: 61.5px; margin-top: -7px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="mt-xs">Pill Identifier</h1>
                    <ul class="breadcrumb breadcrumb-valign-mid">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li class="active">Pill Identifier</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="featured-boxes">
                <div class="row">

                    <app-pill-info></app-pill-info>

                    <app-pill-search></app-pill-search>

                </div>
            </div>

        </div>
    </div>
</div>

<app-pill-listing></app-pill-listing>