
  <div class="featured-box featured-box-secondary featured-box-text-left">
    <div class="box-content">
      <div class="row">
        <div class="col-md-12">
          <i class="{{foodInteraction.icon}}"></i>
          <h2>Interaction with {{foodInteraction.foodName}} products </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>
            <strong>Degree: {{foodInteraction.degree}}</strong>
          </p>
          <p>
            <strong>Description: {{foodInteraction.description}}</strong>
          </p>

        </div>
      </div>
      <div class="row">
        <button class="col-md-offset-9 btn btn-lg btn-secondary mr-xs mb-lg" type="button" id="@Url.Action">Learn More</button>

      </div>
    </div>
  </div>
