<div class="featured-box featured-box-secondary featured-box-text-left">
  <div class="box-content">
    <div class="row">
      <div class="col-md-12" style="text-align: center">
        <h2>Interaction with {{foodInteraction.foodName}} products </h2>
      </div>
      <div class="row">
        <div class="col-md-4 col-xs-4 " ><i class="{{foodInteraction.icon}}"></i></div>
        
        <div class="col-md-7 col-xs-8">
          <p>
            <strong class="item-centered">Degree: </strong>
            {{foodInteraction.degree}}
          </p>
          <p>
            <strong class="item-centered">Description: </strong>
            {{foodInteraction.description}}
          </p>
        </div>
      </div>

    </div>

    <div class="row">
     
      <button class="col-md-offset-9 col-xs-offset-6 btn btn-secondary mr-xs mb-lg" (click)="btnClick();" type="button">Learn More</button>
    
    </div>
  </div>
</div>