<div class="header-top header-top header-top-style-3 header-top-custom">
    <div class="container">
        <nav class="header-nav-top pull-right">
            <ul class="nav nav-pills">
                <li class="pull-left mt-md">
                        <!-- <div class="header-column">
                                <div class="header-logo"> -->
                                    <!-- <a href="demo-medical.html">
                                        <img alt="Porto" width="120" height="30" src="../assets/images/logo7.png">
                                    </a> -->
                               <!-- </div>
                            </div> -->
                </li>
                <li class=" pull-right">

                    <span  *ngIf="notfound == true" class="ws-nowrap">
                        <a routerLink="user/login">
                            <div class="col-md-12 btn btn-primary pull-right mt-sm ">
                                <i class="fa fa-sign-in" style="color:white"></i>
                                Login
                            </div>
                        </a>
                    </span>

                </li>
                <li class=" pull-right">

                        <span *ngIf="notfound == false" class="ws-nowrap">
                            <a (click)="Logout()">
                                <div class="col-md-12 btn btn-primary pull-right mt-sm ">
                                    <i class="fa fa-sign-in" style="color:white"></i>
                                    Logout
                                </div>
                            </a>
                        </span>
    
                    </li>
                <li class=" pull-right">

                    <span *ngIf="notfound == true"class="ws-nowrap">
                        <a routerLink="user/signup">
                            <div class="col-md-12 btn btn-primary pull-right mt-sm">
                                <i class="fa fa-user-plus" style="color:white"></i>
                                Register
                            </div>
                        </a>
                    </span>

                </li>

                <li class=" pull-right">

                        <span *ngIf="notfound == false"class="ws-nowrap">
                            
                                <div class="col-md-12 btn btn-primary pull-right mt-sm">
                                    <!-- <i class="fa fa-user-plus" style="color:white"></i> -->
                                    {{username}}
                                </div>
                            
                        </span>
    
                    </li>

            </ul>
        </nav>
    </div>
</div>