<div class="header-top header-top header-top-style-3 header-top-custom">
    <div class="container">
        <nav class="header-nav-top pull-right">
            <ul class="nav nav-pills">
                <li class=" col-lg-6 pull-left mt-md">
                    <div class="input-group input-group-md ">
                        <input class="form-control" placeholder="Search..." name="s" id="s" type="text">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary btn-md">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>

                </li>
                <li class=" pull-right">

                    <span  *ngIf="notfound == true" class="ws-nowrap">
                        <a routerLink="user/login">
                            <div class="col-md-12 btn btn-primary pull-right mt-sm ">
                                <i class="fa fa-sign-in" style="color:white"></i>
                                Login
                            </div>
                        </a>
                    </span>

                </li>
                <li class=" pull-right">

                        <span *ngIf="notfound == false" class="ws-nowrap">
                            <a (click)="Logout()">
                                <div class="col-md-12 btn btn-primary pull-right mt-sm ">
                                    <i class="fa fa-sign-in" style="color:white"></i>
                                    Logout
                                </div>
                            </a>
                        </span>
    
                    </li>
                <li class=" pull-right">

                    <span *ngIf="notfound == true"class="ws-nowrap">
                        <a routerLink="user/signup">
                            <div class="col-md-12 btn btn-primary pull-right mt-sm">
                                <i class="fa fa-user-plus" style="color:white"></i>
                                Register
                            </div>
                        </a>
                    </span>

                </li>

                <li class=" pull-right">

                        <span *ngIf="notfound == false"class="ws-nowrap">
                            
                                <div class="col-md-12 btn btn-primary pull-right mt-sm">
                                    <!-- <i class="fa fa-user-plus" style="color:white"></i> -->
                                    {{username}}
                                </div>
                            
                        </span>
    
                    </li>

            </ul>
        </nav>
    </div>
</div>