.isotope-item 
{
   position:relative!important;
   top:0px!important;
}
.sidebar 
{
	
    margin-top:90px;

}
.thumb-info-side-image .thumb-info-caption .thumb-info-caption-text {
    
    padding: 4%;
}