<div class="container">
<form >
  <div class="col-md-12">

        <div class="col-md-112">
          <div class="row">
            <div class="col-sm-10 col-md-offset-1">
              <div class="featured-box featured-box-primary align-left mt-xlg">
                <div class="box-content">
                  <h4 class="heading-primary text-uppercase mb-md">edit pill :</h4>


                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="w1-username">Trade Name</label>
                    <div class="col-sm-10">
                      <input 
                      type="text" 
                      class="form-control input-sm" 
                      name="tradeName" 
                      id="w1-username" 
                      placeholder="Enter Trade Name" 
                      formControlName="tradeName">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label">Strength</label>
                    <div class="col-sm-5">
                            <input id="strengthText" type="number" class="spinner-input form-control" formControlName="strength" name="strength">
                    </div>
                    <div class="col-sm-5">
                      <select id="dropDownUnit" data-plugin-selectTwo class="form-control populate"  formControlName="strengthUnit" name="strengthUnit">
                        <option >Choose Unit</option>
                      </select>
                    </div>
                  </div>
                  
 
                  <div class="form-group" >
                    <label class="col-sm-2 control-label" for="w1-username">Text On One Side</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control input-sm" name="textOnSide" id="textOnOneSide" placeholder="Enter Text On One Side" formControlName="textOnSide">
                    </div>
                  </div>

                  <div class="form-group" >
                    <label class="col-sm-2 control-label" for="w1-username">Text On Other Side</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control input-sm" name="textOnOther" id="textOnOtherSide" placeholder="Enter Text On Other Side" formControlName="textOnOther">
                    </div>
                  </div>

                  <div class="form-group" >
                    <label class="col-sm-2 control-label">Shape</label>
                    <div class="col-sm-10">
                      <select data-plugin-selectTwo class="form-control populate" id="dropDownShape" formControlName="shape" name="shape">
                        <option>Round</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group" >
                    <label class="col-sm-2 control-label">Color</label>
                    <div class="col-sm-10">
                      <select data-plugin-selectTwo class="form-control populate" id="dropDownColor" formControlName="color" name="color">
                        <option >green</option>
                      </select>
                    </div>
                  </div>


                  <div class="form-group">
                    <label class="col-sm-2 control-label">Upload Pill Image</label>
                    <div class="col-sm-10">
                      <div class="fileupload fileupload-new" data-provides="fileupload">
                        <div class="input-append">
                          <div class="uneditable-input">
                            <i class="fa fa-file fileupload-exists"></i>
                            <span class="fileupload-preview"></span>
                          </div>
                          <span class="btn btn-default btn-file">
                            <span class="fileupload-exists">Change</span>
                            <span class="fileupload-new">Select Image</span>
                            <input type="file" formControlName="pillImage" name="pillImage"/>
                          </span>
                          <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Remove</a>
                        </div>
                      </div>
                    </div>
                  </div>
 





                  <div class="">
                    <button type="button" class="btn btn-tertiary mr-xs mb-sm">Cancel</button>
                    <button type="submit" class="btn btn-tertiary mr-xs mb-sm">Update</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- </div>
  </div> -->
</form>
</div>