<li class="isotope-item leadership " style="padding-right: 6px; padding-left:6px;">
    <div class="featured-box featured-box-primary align-left mt-xlg">

        <div class="box-content" style=" border-radius:5px; padding: 10px 10px 0px;">
            <div class="row drug-buttons">
                <div class="col-md-offset-9 col-xs-offset-10">

                    <!-- <a [routerLink]="['/pill/editPill',pill.id]"> -->
                    <button type="button" class="btn-borders btn-primary btn-info primary btn-xs" style="margin: 3px; padding: 0px 3px;" (click)="openModalWithComponent(pill.id)">
                        <i class="fa fa-edit">
                        </i>
                    </button>
                    <!-- </a> -->
                    <button type="button" class="btn-danger primary btn-xs btn-borders" (click)="deletePill(pill.id)" style="padding: 0px 3px; ">
                        <i class="fa fa-trash">
                        </i>
                    </button>
                </div>
            </div>

            <div class="thumb-info thumb-info-hide-wrapper-bg ">

                <span class="thumb-info-wrapper">

                    <a [routerLink]="['/pill/details',pill.id]" target="_blank">
                        <img [src]="pill.image" class="img-responsive" alt="" style="height:130px; margin-bottom:10px">
                    </a>

                    <span class="thumb-info-title">
                        <span class="thumb-info-inner">
                            {{pill.name}}
                            <br>
                            <h6 style="font-size:small ; color:white; margin-bottom:0px">{{pill.strength}} {{getStrengthUnit()}}</h6>
                        </span>

                        <!-- <span class="thumb-info-type">GSK</span>-->
                    </span>

                </span>

                <div class="thumb-info-wrapper ">

                    <div class="row col-sm-12" style="padding-right: 0px;">
                        <span class="col-sm-6 ">
                            <strong>Imprint 1 : </strong>
                        </span>
                        <span class="col-sm-6 ">
                            {{pill.frontImprint}}
                        </span>

                    </div>

                    <div class="row col-sm-12" style="padding-right: 0px;">
                        <span class="col-sm-6 ">
                            <strong>Imprint 2 : </strong>
                        </span>
                        <span class="col-sm-6 ">
                            {{pill.backImprint}}
                        </span>
                    </div>


                    <div class="row col-sm-12" style="padding-right: 0px;">

                        <span class="col-sm-6 ">
                            <strong>Shape : </strong>
                        </span>
                        <span class="col-sm-6 ">
                            {{getShape()}}
                        </span>
                    </div>


                    <div class="row col-sm-12" style="padding-right: 0px;">
                        <span class="col-sm-6 ">
                            <strong>Color : </strong>
                        </span>
                        <span class="col-sm-6 ">
                            <!-- {{color.name}} -->
                            {{getColor()}}
                        </span>

                    </div>


                    <a [routerLink]="['/pill/details',pill.id]" class="row col-sm-12 center mt-md" style="margin:0;" target="_blank">
                        <input type="button" value="Details" id="loadingButton" data-loading-text="Loading..." class="btn btn-primary  mb-xl" style="font-size: 1.5rem; ">
                    </a>

                </div>

            </div>

        </div>
    </div>
</li>