<li class="isotope-item leadership " style="padding-right: 6px; padding-left:6px;">
    <div class="featured-box featured-box-primary align-left mt-xlg">

        <div class="box-content" style=" border-radius:5px; padding: 20px 15px 0px 15px;">
            <div class="row drug-buttons">
                <div class="col-md-offset-9 col-xs-offset-10">

                    <button type="button" class="btn-borders btn-primary btn-info primary btn-xs" style="margin: 3px;">
                        <i class="fa fa-edit">
                        </i>
                    </button>
                    <button type="button" class="btn-danger primary btn-xs btn-borders">
                        <i class="fa fa-trash">
                        </i>
                    </button>
                </div>
            </div>
            <span class="thumb-info thumb-info-hide-wrapper-bg ">

                <span class="thumb-info-wrapper">


                     <a [routerLink]="['/drug/details',pill.id]">
                        <img src={{pill.image}} class="img-responsive" alt="" style="height:180px; margin-bottom:10px">
                    </a> 

                    <span class="thumb-info-title">
                        <span class="thumb-info-inner">
                                {{pill.name}}
                            <br>
                            <h6 style="font-size:small ; color:white; margin-bottom:0px">{{pill.strength}} {{pill.strengthUnit}}</h6>
                        </span>

                        <!-- <span class="thumb-info-type">GSK</span>-->
                    </span>

                </span>


                <span class="thumb-info-caption " style="font-size:15px">


                    <div class="row col-sm-12">
                        <div class="col-sm-2 detailMargin">
                            <strong>Side1: </strong>
                        </div>
                        <div class="col-sm-4 detailMargin">
                                {{pill.frontImprint}}
                        </div>
                        <div class="col-sm-2 detailMargin">
                            <strong>Color: </strong>
                        </div>
                        <div class="col-sm-4 detailMargin">
                                {{pill.color}}
                        </div>

                    </div>

                    <div class="row col-sm-12">
                        <div class="col-sm-2 detailMargin">
                            <strong>Side2: </strong>
                        </div>
                        <div class="col-sm-4 detailMargin">
                                {{pill.backImprint}}
                        </div>
                        <div class="col-sm-2 detailMargin ">
                            <strong>Shape: </strong>
                        </div>
                        <div class="col-sm-3 detailMargin" style="margin-left:2%;">
                                {{pill.shape}}
                        </div>
                    </div>

                    <a href="/drug/listing" class="row col-sm-12 center mt-md" style="margin:0;">
                        <input type="button" value="Details" id="loadingButton" data-loading-text="Loading..." class="btn btn-primary  mb-xl" style="font-size: 1.5rem; ">
                    </a>

                </span>

            </span>
        </div>
    </div>
</li>