<li class="isotope-item leadership " style="padding-right: 6px; padding-left:6px;">
    <div class="featured-box featured-box-primary align-left mt-xlg">

        <div class="box-content" style=" border-radius:5px; padding: 20px 15px 0px 15px;">
            <div class="row drug-buttons ">
                <div class="col-md-offset-9 col-xs-offset-10">

                    <button type="button" class="btn-borders btn-primary btn-info primary btn-xs" style="margin: 3px;">
                        <i class="fa fa-edit">
                        </i>
                    </button>
                    <button type="button" class="btn-danger primary btn-xs btn-borders">
                        <i class="fa fa-trash">
                        </i>
                    </button>
                </div>
            </div>
            <span class="thumb-info thumb-info-hide-wrapper-bg ">

                <span class="thumb-info-wrapper">



                    <a href="/drug/listing">
                        <img src="./../../../assets/images/panadolpill.jpg" class="img-responsive" alt="" style="height:180px">
                    </a>

                    <span class="thumb-info-title">
                        <span class="thumb-info-inner">
                            Panadol
                            <br>
                            <h6 style="font-size:small ; color:white; margin-bottom:0px">500 MG</h6>
                        </span>

                        <!-- <span class="thumb-info-type">GSK</span>-->
                    </span>

                </span>


                <span class="thumb-info-caption " style="font-size:15px">


                    <div class="row col-sm-12">
                        <div class="col-sm-3">
                            <strong>Side1: </strong>
                        </div>
                        <div class="col-sm-3">
                            19
                        </div>
                        <div class="col-sm-3">
                            <strong>Color: </strong>
                        </div>
                        <div class="col-sm-3">
                            White
                        </div>

                    </div>

                    <div class="row col-sm-12">
                        <div class="col-sm-3">
                            <strong>Side2: </strong>
                        </div>
                        <div class="col-sm-3">
                            12
                        </div>
                        <div class="col-sm-3">
                            <strong>Shape: </strong>
                        </div>
                        <div class="col-sm-3">
                            Round
                        </div>
                    </div>

                    <a href="/drug/listing" class="row col-sm-12 center mt-md" style="margin:0; margin-left: 30%;">
                        <input type="button" value="Details" id="loadingButton" data-loading-text="Loading..." class="btn btn-primary  mb-xl">
                    </a>

                </span>

            </span>
        </div>
    </div>
</li>