<div class="row">
        <div class="col-xs-8 col-xs-offset-2 mt-xlg">
            <div class="input-group">
                <div class="input-group-btn search-panel">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="border-color: #ccc">
                        <span id="search_concept">Filter by</span>
                        <!-- <span class="caret"></span> -->
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#contains">Contains</a>
                        </li>
                        <li>
                            <a href="#its_equal">It's equal</a>
                        </li>
                        <li>
                            <a href="#greather_than">Greather than ></a>
                        </li>
                        <li>
                            <a href="#less_than">
                                Less than >
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#all">Anything</a>
                        </li>
                    </ul>
                </div>
                <input type="hidden" name="search_param" value="all" id="search_param">
                <input type="text" class="form-control" name="txtSearch" id="DrugName" placeholder="Search term..."/>
                <span class="input-group-btn">
                    <button class="btn btn-primary btn-md" style="background-color:#008fe2!important;">
                        <span>
                            <i class="fa fa-search" style="color:white"></i>
                        </span>
                    </button>

                </span>
            </div>
        </div>
        <div class="col-xs-2 mt-xlg" style="font-size:xx-large;color:#008fe2;">
            <a [routerLink]="['/disease/add']">
                <i class="fa fa-plus-circle"></i>
            </a>
        </div>
    </div>

<div class="row">
<app-filter class="col-md-2"></app-filter>
<app-disease-lising class="col-md-9 col-md-offset-1"></app-disease-lising>
</div>
<div class="row">
        <app-disease-add></app-disease-add>
</div>