<section class="page-header page-header-color page-header-primary page-header-float-breadcrumb">
        <div class="container">
            <div>
                <div class="row"></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="mt-xs">All Communities

                    </h1>
                    <ul class="breadcrumb breadcrumb-valign-mid">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="active">All Communities</li>
                    </ul>
                </div>
            </div>
        </div>
</section>


<div class="row">
        <div class=" largeDiv">
            <app-community-listing class="col-md-9"></app-community-listing>
            <app-latest-news class="col-md-3"></app-latest-news>
        </div>
</div>