<div class="col-sm-6 col-sm-push-6">
  <div class="featured-box featured-box-primary align-left mt-xlg" id="pillidentifier" style="height: 376.312px;">
      <div class="box-content">
          <h4 class="heading-primary text-uppercase mb-md">
              How to identify a pill using the Pill Identifier?
          </h4>
          <table class="cart-totals">
              <tbody>
                  <tr class="cart-subtotal">
                      <th>
                          <p>
                              1- Enter the imprint code that appears on the pill e.g. L484
                              <br>
                              <img src="./../../../assets/images/example.png">
                              <br> 2- Select the the pill color (optional)
                              <br> 3- Select the shape (optional)
                              <br> 4- You may also search by drug name or NDC code
                          </p>
                      </th>

                  </tr>

              </tbody>
          </table>

      </div>

  </div>
</div>
