<div class="pr-sm pl-sm">
  <a href="#" data-href="demo-medical-doctors-detail.html" data-ajax-on-page class="text-decoration-none">
      <span class="thumb-info thumb-info-no-zoom thumb-info-hide-wrapper-bg">
          <span class="thumb-info-wrapper m-none">
              <img [src]="drug.image" class="img-responsive" alt="">
          </span>
          <span class="thumb-info-caption p-md pt-md pb-md">
              <span class="custom-thumb-info-title">
                  <span class="custom-thumb-info-type font-weight-light text-md">ay kalam</span>
                  <span class="custom-thumb-info-inner font-weight-semibold text-lg">{{drug.drugName}}</span>
                  <i class="icon-arrow-right-circle icons font-weight-semibold text-lg "></i>
              </span>
          </span>
      </span>
  </a>
</div>
