<div role="main" class="main">
  <!-- ====== Slider ====== -->
  <app-slider [sliderData]=sliderArray></app-slider>

  <!-- ====== Intro ====== -->
  <section class="section-custom-medical">
      <div class="container">
          <div class="row medical-schedules">
              <div class="col-lg-3 box-one background-color-primary appear-animation" data-appear-animation="fadeInLeft" data-appear-animation-delay="0">
                  <div class="feature-box feature-box-style-2 p-lg">
                      <div class="feature-box-icon">
                          <img src="../../assets/images/medical-icon-heart.png" alt class="img-responsive pt-xs" />
                      </div>
                      <div class="feature-box-info ml-md">
                          <h4 class="m-none">Medical Treatment</h4>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 box-two background-color-tertiary appear-animation" data-appear-animation="fadeInLeft" data-appear-animation-delay="600">
                  <h5 class="m-none">
                      <!-- <a href="demo-medical-doctors.html" title=""> -->
                          Doctors Timetable
                          <i class="icon-arrow-right-circle icons"></i>
                      <!-- </a> -->
                  </h5>
              </div>
              <div class="col-lg-3 box-three background-color-primary appear-animation" data-appear-animation="fadeInLeft" data-appear-animation-delay="1200">
                  <div class="expanded-info p-xlg background-color-primary">
                      <div class="info custom-info">
                          <span>Mon-Fri</span>
                          <span>8:30 am to 5:00 pm</span>
                      </div>
                      <div class="info custom-info">
                          <span>Saturday</span>
                          <span>9:30 am to 1:00 pm</span>
                      </div>
                      <div class="info custom-info">
                          <span>Sunday</span>
                          <span>Closed</span>
                      </div>
                  </div>
                  <h5 class="m-none">
                      Opening Hours
                      <i class="icon-arrow-right-circle icons"></i>
                  </h5>
              </div>
              <div class="col-lg-3 box-four background-color-secondary p-none appear-animation" data-appear-animation="fadeInLeft" data-appear-animation-delay="1800">
                  <!-- <a href="tel:+008001234567" class="text-decoration-none"> -->
                      <div class="feature-box feature-box-style-2 m-none">
                          <div class="feature-box-icon">
                              <i class="icon-call-out icons"></i>
                          </div>
                          <div class="feature-box-info ml-md">
                              <label class="font-weight-light">Emergency case</label>
                              <strong class="font-weight-normal">(800)123-4567</strong>
                          </div>
                      </div>
                  <!-- </a> -->
              </div>
          </div>
      </div>
      <div class="container">
          <div class="row center mt-xlg pt-xlg mb-xlg pb-xs">
              <div class="col-sm-12 col-md-12">
                  <h2 class="font-weight-semibold mb-xs ">Who are we ?!</h2>
                  <p class="lead font-weight-normal">A full healthcare platform that provides online medical services.</p>

                  <p>This platform is dedicated to provide high quality medical care services,
                       medical articles in addition to Q&As in all medical and healthcare fields, 
                       and is focused on helping users with handling their drug intakes,
                        reviewing their prescriptions, identifying existing interaction 
                        and checking on any symptoms they’re experiencing.
                  </p>

                  <a [routerLink]="['/aboutUs']" class="btn btn-borders btn-quaternary custom-button text-uppercase mt-lg mb-xs font-weight-bold">read more</a>
              </div>

          </div>

      </div>
  </section>

  <!-- ====== Our Services ====== -->
  <div class="behind">
      <div class="container">
          <div class="row mt-sm mb-lg">
              <div class="row center mt-sm pt-xlg mb-xlg pb-xs">
                  <div class="col-sm-12 col-md-12 ">
                      <h2 class="font-weight-semibold mb-xs qa-title">Our Services</h2>
                  </div>
              </div>
              <app-service-listing></app-service-listing>
          </div>
      </div>

  </div>

  <!-- ====== News ====== -->
  <div class="news">
      <div class="container ">
          <div class="row pt-xl center">
              <div class="col-md-12">
                  <h2 class="font-weight-semibold mb-xs">What's New !</h2>
                  <p class="lead font-weight-normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
          </div>
          <div class="row mb-md">
              <div class="col-md-12">
                  <div class="blog-posts">

                      <section class="">
                          <div class="timeline-body">
                              <div class="col-md-5 col-md-offset-1">
                                  <article class="news-art timeline-box mb-xs left post post-medium">
                                      <div class="row">

                                          <div class="col-md-12">
                                              <div class="post-image">
                                                  <div class="owl-carousel owl-theme" data-plugin-options="{'items':1}">
                                                      <div>
                                                          <div class="img-thumbnail">
                                                              <img class="img-responsive" src="../../assets/images/1.jpg" alt="">
                                                          </div>
                                                      </div>
                                                      <div>
                                                          <div class="img-thumbnail">
                                                              <img class="img-responsive" src="../../assets/images/2.jpg" alt="">
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-12">

                                              <div class="post-content">
                                                  <h4 class="heading-primary">
                                                      <a href="blog-post.html">Class aptent taciti sociosqu ad litora.</a>
                                                  </h4>
                                                  <p>Euismod atras vulputate iltricies etri elit. Class aptent taciti
                                                      sociosqu ad litora torquent per conubia nostra, per inceptos
                                                      himenaeos. </p>
                                              </div>

                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-12">
                                              <div class="post-meta">
                                                  <span>
                                                      <i class="fa fa-calendar"></i> January 10, 2016 </span>
                                                  <br>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-12">
                                              <div class="post-meta">
                                                  <span>
                                                      <i class="fa fa-user"></i> By
                                                      <a href="#">John Doe</a>
                                                  </span>
                                                  <span>
                                                      <i class="fa fa-tag"></i>
                                                      <a href="#">Duis</a>,
                                                      <a href="#">News</a>
                                                  </span>
                                                  <span>
                                                      <i class="fa fa-comments"></i>
                                                      <a href="#">12 Comments</a>
                                                  </span>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-12">
                                              <a href="blog-post.html" class="btn btn-xs btn-primary pull-right">Read more...</a>
                                          </div>
                                      </div>

                                  </article>
                              </div>
                          </div>
                      </section>
                      <section class="">
                          <div class="timeline-body">
                              <div class="col-md-5">
                                  <article class="news-art timeline-box mb-xs left post post-medium">
                                      <div class="row">

                                          <div class="col-md-12">
                                              <div class="post-image">
                                                  <div class="owl-carousel owl-theme" data-plugin-options="{'items':1}">
                                                      <div>
                                                          <div class="img-thumbnail">
                                                              <img class="img-responsive" src="../../assets/images/1.jpg" alt="">
                                                          </div>
                                                      </div>
                                                      <div>
                                                          <div class="img-thumbnail">
                                                              <img class="img-responsive" src="../../assets/images/2.jpg" alt="">
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-12">

                                              <div class="post-content">
                                                  <h4 class="heading-primary">
                                                      <a href="blog-post.html">Class aptent taciti sociosqu ad litora.</a>
                                                  </h4>
                                                  <p>Euismod atras vulputate iltricies etri elit. Class aptent taciti
                                                      sociosqu ad litora torquent per conubia nostra, per inceptos
                                                      himenaeos. </p>
                                              </div>

                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-12">
                                              <div class="post-meta">
                                                  <span>
                                                      <i class="fa fa-calendar"></i> January 10, 2016 </span>
                                                  <br>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-12">
                                              <div class="post-meta">
                                                  <span>
                                                      <i class="fa fa-user"></i> By
                                                      <a href="#">John Doe</a>
                                                  </span>
                                                  <span>
                                                      <i class="fa fa-tag"></i>
                                                      <a href="#">Duis</a>,
                                                      <a href="#">News</a>
                                                  </span>
                                                  <span>
                                                      <i class="fa fa-comments"></i>
                                                      <a href="#">12 Comments</a>
                                                  </span>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-12">
                                              <a href="blog-post.html" class="btn btn-xs btn-primary pull-right">Read more...</a>
                                          </div>
                                      </div>

                                  </article>
                              </div>
                          </div>
                      </section>


                  </div>
              </div>
          </div>
          <div class="row mb-md">
              <div class="col-md-12">
                  <div class="blog-posts">

                      <section class="">
                          <div class="timeline-body">
                              <div class="col-md-5 col-md-offset-1">
                                  <article class="news-art timeline-box mb-xs left post post-medium">
                                      <div class="row">

                                          <div class="col-md-12">
                                              <div class="post-image">
                                                  <div class="owl-carousel owl-theme" data-plugin-options="{'items':1}">
                                                      <div>
                                                          <div class="img-thumbnail">
                                                              <img class="img-responsive" src="../../assets/images/1.jpg" alt="">
                                                          </div>
                                                      </div>
                                                      <div>
                                                          <div class="img-thumbnail">
                                                              <img class="img-responsive" src="../../assets/images/2.jpg" alt="">
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-12">

                                              <div class="post-content">
                                                  <h4 class="heading-primary">
                                                      <a href="blog-post.html">Class aptent taciti sociosqu ad litora.</a>
                                                  </h4>
                                                  <p>Euismod atras vulputate iltricies etri elit. Class aptent taciti
                                                      sociosqu ad litora torquent per conubia nostra, per inceptos
                                                      himenaeos. </p>
                                              </div>

                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-12">
                                              <div class="post-meta">
                                                  <span>
                                                      <i class="fa fa-calendar"></i> January 10, 2016 </span>
                                                  <br>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-12">
                                              <div class="post-meta">
                                                  <span>
                                                      <i class="fa fa-user"></i> By
                                                      <a href="#">John Doe</a>
                                                  </span>
                                                  <span>
                                                      <i class="fa fa-tag"></i>
                                                      <a href="#">Duis</a>,
                                                      <a href="#">News</a>
                                                  </span>
                                                  <span>
                                                      <i class="fa fa-comments"></i>
                                                      <a href="#">12 Comments</a>
                                                  </span>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-12">
                                              <a href="blog-post.html" class="btn btn-xs btn-primary pull-right">Read more...</a>
                                          </div>
                                      </div>

                                  </article>
                              </div>
                          </div>
                      </section>
                      <section class="">
                          <div class="timeline-body">
                              <div class="col-md-5">
                                  <article class="news-art timeline-box mb-xs left post post-medium">
                                      <div class="row">

                                          <div class="col-md-12">
                                              <div class="post-image">
                                                  <div class="owl-carousel owl-theme" data-plugin-options="{'items':1}">
                                                      <div>
                                                          <div class="img-thumbnail">
                                                              <img class="img-responsive" src="../../assets/images/1.jpg" alt="">
                                                          </div>
                                                      </div>
                                                      <div>
                                                          <div class="img-thumbnail">
                                                              <img class="img-responsive" src="../../assets/images/2.jpg" alt="">
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-12">

                                              <div class="post-content">
                                                  <h4 class="heading-primary">
                                                      <a href="blog-post.html">Class aptent taciti sociosqu ad litora.</a>
                                                  </h4>
                                                  <p>Euismod atras vulputate iltricies etri elit. Class aptent taciti
                                                      sociosqu ad litora torquent per conubia nostra, per inceptos
                                                      himenaeos. </p>
                                              </div>

                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-12">
                                              <div class="post-meta">
                                                  <span>
                                                      <i class="fa fa-calendar"></i> January 10, 2016 </span>
                                                  <br>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-12">
                                              <div class="post-meta">
                                                  <span>
                                                      <i class="fa fa-user"></i> By
                                                      <a href="#">John Doe</a>
                                                  </span>
                                                  <span>
                                                      <i class="fa fa-tag"></i>
                                                      <a href="#">Duis</a>,
                                                      <a href="#">News</a>
                                                  </span>
                                                  <span>
                                                      <i class="fa fa-comments"></i>
                                                      <a href="#">12 Comments</a>
                                                  </span>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-12">
                                              <a href="blog-post.html" class="btn btn-xs btn-primary pull-right">Read more...</a>
                                          </div>
                                      </div>

                                  </article>
                              </div>
                          </div>
                      </section>


                  </div>
              </div>
          </div>
          <div class="row mt-sm pb-md">
              <div class="col-md-12 center">
                  <a class="btn btn-borders btn-quaternary custom-button text-uppercase mt-lg font-weight-bold" href="demo-medical-departments.html">view All</a>
              </div>
          </div>
      </div>
  </div>

  <!-- ====== Q&A ====== -->
  <!-- <div class="qa row mt-lg mb-lg">
      <div class="container mt-lg mb-lg">
          <div class="row pt-xl center">
              <div class="col-md-12">
                  <h2 class=" qa-title font-weight-semibold mb-lg">People asking!</h2>
              </div>
          </div>
          <div class="row">
              <span class="thumb-info thumb-info-side-image thumb-info-no-zoom mt-xs mb-xs col-xs-12">
                  <span class="thumb-info-side-image-wrapper col-lg-1 col-lg-offset-2 col-xs-4">
                      <img src="../../assets/images/pro.jpg" class="img-responsive img-circle" alt="" style="width: 100px;">

                  </span>
                  <span class="thumb-info-caption col-lg-7 col-xs-6">
                      <span class="thumb-info-caption-text">
                          <h2 class="qa-title mb-xs ">What are the causes of skin rash?</h2>
                          <div class="post-meta font-weight-semibold">
                              <span>
                                  <i class="fa fa-user"></i> By
                                  <a href="#">John Doe</a>
                              </span>
                              <span>
                                  <i class="fa fa-tag"></i>
                                  <a href="#">Duis</a>,
                                  <a href="#">News</a>
                              </span>
                              <span>
                                  <i class="fa fa-comments"></i>
                                  <a href="#">12 Comments</a>
                              </span>
                          </div>
                          <p>
                              Maybe you've eaten something you're allergic to
                          </p>
                      </span>
                  </span>
              </span>
          </div>
          <hr>
          <div class="row">
              <span class="thumb-info thumb-info-side-image thumb-info-no-zoom mt-xs mb-xs col-xs-12">
                  <span class="thumb-info-side-image-wrapper col-lg-1 col-lg-offset-2 col-xs-4">
                      <img src="../../assets/images/pro.jpg" class="img-responsive img-circle" alt="" style="width: 100px;">

                  </span>
                  <span class="thumb-info-caption col-lg-7 col-xs-6">
                      <span class="thumb-info-caption-text">
                          <h2 class="qa-title mb-xs ">What are the causes of skin rash?</h2>
                          <div class="post-meta">
                              <span>
                                  <i class="fa fa-user"></i> By
                                  <a href="#">John Doe</a>
                              </span>
                              <span>
                                  <i class="fa fa-tag"></i>
                                  <a href="#">Duis</a>,
                                  <a href="#">News</a>
                              </span>
                              <span>
                                  <i class="fa fa-comments"></i>
                                  <a href="#">12 Comments</a>
                              </span>
                          </div>
                          <p>
                              Maybe you've eaten something you're allergic to
                          </p>
                      </span>
                  </span>
              </span>
          </div>
          <hr>
          <div class="row">
              <span class="thumb-info thumb-info-side-image thumb-info-no-zoom mt-xs mb-xs col-xs-12">
                  <span class="thumb-info-side-image-wrapper col-lg-1 col-lg-offset-2 col-xs-4">
                      <img src="../../assets/images/pro.jpg" class="img-responsive img-circle" alt="" style="width: 100px;">

                  </span>
                  <span class="thumb-info-caption col-lg-7 col-xs-6">
                      <span class="thumb-info-caption-text">
                          <h2 class="qa-title mb-xs ">What are the causes of skin rash?</h2>
                          <div class="post-meta">
                              <span>
                                  <i class="fa fa-user"></i> By
                                  <a href="#">John Doe</a>
                              </span>
                              <span>
                                  <i class="fa fa-tag"></i>
                                  <a href="#">Duis</a>,
                                  <a href="#">News</a>
                              </span>
                              <span>
                                  <i class="fa fa-comments"></i>
                                  <a href="#">12 Comments</a>
                              </span>
                          </div>
                          <p>
                              Maybe you've eaten something you're allergic to
                          </p>
                      </span>
                  </span>
              </span>
          </div>
      </div>
  </div> -->
  <!-- Our Doctors part -->
  <!-- <section class="team">
      <div class="container">
          <div class="row mt-xlg center">
              <div class="col-md-12">
                  <h2 class="font-weight-semibold m-none">Doctors</h2>
                  <p class="lead font-weight-normal">Our Specialists</p>

                  <div id="porfolioAjaxBoxMedical" class="ajax-box ajax-box-init mb-lg">

                      <div class="bounce-loader">
                          <div class="bounce1"></div>
                          <div class="bounce2"></div>
                          <div class="bounce3"></div>
                      </div>

                      <div class="ajax-box-content" id="porfolioAjaxBoxContentMedical"></div>

                  </div>

              </div>
          </div>
          <app-doctorSlider></app-doctorSlider>
      </div>
  </section> -->

