.header-body {
  top: 0px;
  left: 0;
}
.header-container{
  padding:5px 0 !important;
}
#page-wrapper {
  margin-top: 140px;
}
.header-body{
  
  border-top-width: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  border-bottom-width: 0px !important;
}

.dropdown-full-color a{
  color: #008fe2 !important; 
}
.dropdown-full-color a:hover{
  color: white !important; 
  background-color: #008fe2 !important;
}
.dropdown-full-color a:active , .dropdown-full-color a:focus{
  color: white !important; 
  background-color: #008fe2 !important;
}
#header.header-narrow .header-logo img {
  margin: 12px 12px 12px 25px;
}
