<section class="section our-services">
  <div class="container">
    <div class="owl-carousel show-nav-title custom-arrows-style-4" data-plugin-options="{'responsive': {'767': {'items': 1}, '1200': {'items': 2}}, 'margin': 15, 'loop': false, 'dots': false, 'nav': true}">
        <app-Food-Interaction-Item 
        *ngFor="let foodinteractionitem of foodInteractionList" 
        [foodInteraction] = "foodinteractionitem" 
        class="col-md-6">
      </app-Food-Interaction-Item>
    </div>
  </div>
</section>