<div class="col-md-5 col-md-offset-1">
  <div class="feature-box feature-box-style-2 mb-xl appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
      <div class="feature-box-icon">
          <img src="img/demos/medical/icons/department-icon-cardiology.png" alt class="img-responsive" />
      </div>
      <div class="feature-box-info ml-md">
          <h4 class="font-weight-semibold">
              <a href="demo-medical-departments-detail.html" class="text-decoration-none">Heart Disease </a>
              <button type="button" class="btn btn-3d btn btn-primary primary btn-xs btn-borders">
                  <i class="fa fa-edit">
                  </i>
              </button>
              <button type="button" class="btn btn-3d btn btn-danger primary btn-xs btn-borders">
                  <i class="fa fa-trash">
                  </i>
              </button>
          </h4>

          <h6>Period of Condition: 2 years</h6>
      </div>
  </div>
</div>
