<section class="page-header" style="padding-bottom: 61.5px; margin-top: -7px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="mt-xs">News</h1>
                <ul class="breadcrumb breadcrumb-valign-mid">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li class="active">News</li>
                </ul>
            </div>
        </div>
    </div>
</section>

  <app-news-listing></app-news-listing>

  