<div class="container">
  <div role="main" class="main shop">

    <div class="row">
      <div class="col-md-12">
        <hr class="tall">
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">

        <div class="row">
          <div class="col-md-4">

            <div class="owl-carousel owl-theme" data-plugin-options="{'items': 1, 'margin': 10}">
              <div>
                <img alt="" height="300" class="img-responsive" src="img/demos/medical/doctors/doctor-1.jpg">
              </div>
            </div>

          </div>

          <div class="col-md-8">

            <div class="summary entry-summary">

              <div class="mb-none row">
                <h3 class="col-md-9">
                  <strong>Dr. Hamada El-Gen</strong>
                </h3>

              </div>


              <div>
                <h5>
                  <a>
                    <i class="fa fa-map-marker"></i> Cairo, Egypt</a>
                </h5>
              </div>

              <div class="review_num">
                <span class="count" itemprop="ratingCount">2</span> reviews
              </div>

              <div title="Rated 5.00 out of 5" class="star-rating">
                <span style="width:100%">
                  <strong class="rating">5.00</strong> out of 5
                </span>
              </div>
              <div>

              </div>

              <div class="row">

                <div class="col-md-6 col-xs-6">


                  <ul class="list list-icons list-primary list-side-borders2 mt-xlg">
                    <li> Profession</li>
                    <li> Field of Speciality</li>
                    <li> Age</li>
                    <li> E-mail</li>
                    <li> Phone Number</li>
                  </ul>

                </div>
                <div class="col-md-6 col-xs-6">
                  <ul class="list list-icons list-primary  mt-xlg">
                    <li> MD</li>
                    <li> Cardiology</li>
                    <li> 35</li>
                    <li> Hamada@elgen.com</li>
                    <li> 13919901</li>
                  </ul>

                </div>

              </div>

            </div>

          </div>

          <div class="row">
            <div class="col-md-12 ">
              <div>
                <hr class="tall">
                <div class="tabs">
                  <tabset [justified]='true'>
                    <tab>
                      <ng-template tabHeading>
                          <i class="fa fa-medkit"></i> My Drug List
                      </ng-template>
                      My Drug List
                      <div>
                          <a class="btn btn-borders btn-primary text-uppercase font-weight-bold">
                            <i class="fa fa-plus"></i> Add a drug to my list</a>
                        </div>
                    </tab>
                    <tab>
                        <ng-template tabHeading>
                            <i class="fa fa-stethoscope"></i> My Disease List
                        </ng-template>
                        My Disease List
                        <div>
                            <a class="btn btn-borders btn-primary text-uppercase font-weight-bold">
                              <i class="fa fa-plus"></i> Add a disease to my list</a>
                          </div>
                      </tab>
                      <tab>
                          <ng-template tabHeading>
                              <i class="fa fa-comments"></i> My Communities
                          </ng-template>
                          My Community List
                        </tab>
                        <tab>
                            <ng-template tabHeading>
                                <i class="fa fa-star"></i> My Reviews
                            </ng-template>
                            My Community List
                          </tab>
                    

                  </tabset>
                 
                </div>


              </div>
            </div>


          </div>
        </div>
        <div class="row profile-buttons">
          <div class="col-md-offset-9 col-md-3 col-xs-offset-3">
            <a class="drug-btn btn btn-borders btn-primary custom-button text-uppercase mt-lg mb-lg font-weight-bold">
              <i class="fa fa-lock"></i> Edit Privacy</a>
          </div>

        </div>
      </div>
      <div class="col-md-3">
        <aside class="sidebar patient-profile">
          <h5 class="heading-primary">Latest News</h5>
          <ul class="simple-post-list">
            <li>
              <div class="post-image">
                <div class="img-thumbnail">
                  <a href="shop-product-sidebar.html">
                    <img alt="" width="60" height="60" class="img-responsive" src="img/products/product-1.jpg">
                  </a>
                </div>
              </div>
              <div class="post-info">
                <a href="shop-product-sidebar.html">News about this</a>
                <div class="post-meta">
                  Lorem ipsum adas sjlkad asdj aslkkdj dsjlkasd sdjlak
                </div>
              </div>
            </li>
            <li>
              <div class="post-image">
                <div class="img-thumbnail">
                  <a href="shop-product-sidebar.html">
                    <img alt="" width="60" height="60" class="img-responsive" src="img/products/product-2.jpg">
                  </a>
                </div>
              </div>
              <div class="post-info">
                <a href="shop-product-sidebar.html">News about that</a>
                <div class="post-meta">
                  Lorem ipsum jksad jlksajd lkasadj asjdlk
                </div>
              </div>
            </li>
            <li>
              <div class="post-image">
                <div class="img-thumbnail">
                  <a href="shop-product-sidebar.html">
                    <img alt="" width="60" height="60" class="img-responsive" src="img/products/product-3.jpg">
                  </a>
                </div>
              </div>
              <div class="post-info">
                <a href="shop-product-sidebar.html">News about those</a>
                <div class="post-meta">
                  Lorem ipsum jssas sjjrh shdsou
                </div>
              </div>
            </li>
          </ul>
          <hr>
          <h5 class="heading-primary">Top rated questions</h5>
          <ul class="simple-post-list">
            <li>
              <div class="post-image">
                <div class="img-thumbnail">
                  <a href="shop-product-sidebar.html">
                    <img alt="" width="60" height="60" class="img-responsive" src="img/products/product-1.jpg">
                  </a>
                </div>
              </div>
              <div class="post-info">
                <a href="shop-product-sidebar.html">Questions about this</a>
                <div class="post-meta">
                  Lorem ipsum adas sjlkad asdj aslkkdj dsjlkasd sdjlak
                </div>
              </div>
            </li>
            <li>
              <div class="post-image">
                <div class="img-thumbnail">
                  <a href="shop-product-sidebar.html">
                    <img alt="" width="60" height="60" class="img-responsive" src="img/products/product-2.jpg">
                  </a>
                </div>
              </div>
              <div class="post-info">
                <a href="shop-product-sidebar.html">Questions about that</a>
                <div class="post-meta">
                  Lorem ipsum jksad jlksajd lkasadj asjdlk
                </div>
              </div>
            </li>
            <li>
              <div class="post-image">
                <div class="img-thumbnail">
                  <a href="shop-product-sidebar.html">
                    <img alt="" width="60" height="60" class="img-responsive" src="img/products/product-3.jpg">
                  </a>
                </div>
              </div>
              <div class="post-info">
                <a href="shop-product-sidebar.html">Questions about those</a>
                <div class="post-meta">
                  Lorem ipsum jssas sjjrh shdsou
                </div>
              </div>
            </li>
          </ul>

        </aside>
      </div>
    </div>


  </div>
</div>