<!-- import {SearchComponent} from './../shared/search'; import {FilterComponent} from './../shared/filter'; -->
<form method="post" action="#">
    <div class="container">
        <div role="main" class="main shop">
            <app-search></app-search>
            <br>
            <br>
            <div class="row">
                <app-filter></app-filter>
                <div class="col-md-10">
                    <div class="featured-boxes">
                        <div class="row">
                            <app-drug-listing></app-drug-listing>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>