    <div class="container">
        <div role="main" class="main shop">
            <div class="row">
            <app-search class="col-xs-8 col-xs-offset-2"></app-search>
            <div class="col-xs-2 mt-xlg" style="font-size:xx-large;color:#008fe2;">
                    <a [routerLink]="['/drug/addForm']"><i class="fa fa-plus-circle"></i></a>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <app-filter class="col-md-2"></app-filter>
                <div class="col-md-10">
                    <div class="featured-boxes">
                        <div class="row">
                            <app-drug-listing class="col-md-12"></app-drug-listing>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
