<div class="row mb-xlg">
    <div class="owl-carousel owl-theme nav-bottom rounded-nav pl-xs pr-xs" data-plugin-options="{'items': 4, 'loop': false, 'dots': false, 'nav': true}">
      <app-doctor-small-item [doctorData]=i *ngFor="let i of doctorArray"></app-doctor-small-item> 
      <!-- <div class="pr-sm pl-sm">
            <a href="#" data-href="demo-medical-doctors-detail.html" data-ajax-on-page class="text-decoration-none">
                <span class="thumb-info thumb-info-no-zoom thumb-info-hide-wrapper-bg">
                    <span class="thumb-info-wrapper m-none">
                        <img src="../../assets/images/doc1.jpg" class="img-responsive" alt="">
                    </span>
                    <span class="thumb-info-caption p-md pt-xlg pb-xlg">
                        <span class="custom-thumb-info-title">
                            <span class="custom-thumb-info-type font-weight-light text-md">Cardiology</span>
                            <span class="custom-thumb-info-inner font-weight-semibold text-lg">John Doe</span>
                            <i class="icon-arrow-right-circle icons font-weight-semibold text-lg "></i>
                        </span>
                    </span>
                </span>
            </a>
        </div>
        <div class="pr-sm pl-sm">
            <a href="#" data-href="demo-medical-doctors-detail.html" data-ajax-on-page class="text-decoration-none">
                <span class="thumb-info thumb-info-no-zoom thumb-info-hide-wrapper-bg">
                    <span class="thumb-info-wrapper m-none">
                        <img src="../../assets/images/doc2.jpg" class="img-responsive" alt="">
                    </span>
                    <span class="thumb-info-caption p-md pt-xlg pb-xlg">
                        <span class="custom-thumb-info-title">
                            <span class="custom-thumb-info-type font-weight-light text-md">Gastroenterology</span>
                            <span class="custom-thumb-info-inner font-weight-semibold text-lg">Robin Doe</span>
                            <i class="icon-arrow-right-circle icons font-weight-semibold text-lg "></i>
                        </span>
                    </span>
                </span>
            </a>
        </div>
        <div class="pr-sm pl-sm">
            <a href="#" data-href="demo-medical-doctors-detail.html" data-ajax-on-page class="text-decoration-none">
                <span class="thumb-info thumb-info-no-zoom thumb-info-hide-wrapper-bg">
                    <span class="thumb-info-wrapper m-none">
                        <img src="../../assets/images/doc2.jpg" class="img-responsive" alt="">
                    </span>
                    <span class="thumb-info-caption p-md pt-xlg pb-xlg">
                        <span class="custom-thumb-info-title">
                            <span class="custom-thumb-info-type font-weight-light text-md">Pulmonology</span>
                            <span class="custom-thumb-info-inner font-weight-semibold text-lg">Jessica Doe</span>
                            <i class="icon-arrow-right-circle icons font-weight-semibold text-lg "></i>
                        </span>
                    </span>
                </span>
            </a>
        </div>
        <div class="pr-sm pl-sm">
            <a href="#" data-href="demo-medical-doctors-detail.html" data-ajax-on-page class="text-decoration-none">
                <span class="thumb-info thumb-info-no-zoom thumb-info-hide-wrapper-bg">
                    <span class="thumb-info-wrapper m-none">
                        <img src="../../assets/images/doc1.jpg" class="img-responsive" alt="">
                    </span>
                    <span class="thumb-info-caption p-md pt-xlg pb-xlg">
                        <span class="custom-thumb-info-title">
                            <span class="custom-thumb-info-type font-weight-light text-md">Dental</span>
                            <span class="custom-thumb-info-inner font-weight-semibold text-lg">Rose Doe</span>
                            <i class="icon-arrow-right-circle icons font-weight-semibold text-lg "></i>
                        </span>
                    </span>
                </span>
            </a>
        </div>
        <div class="pr-sm pl-sm">
            <a href="#" data-href="demo-medical-doctors-detail.html" data-ajax-on-page class="text-decoration-none">
                <span class="thumb-info thumb-info-no-zoom thumb-info-hide-wrapper-bg">
                    <span class="thumb-info-wrapper m-none">
                        <img src="../../assets/images/doc2.jpg" class="img-responsive" alt="">
                    </span>
                    <span class="thumb-info-caption p-md pt-xlg pb-xlg">
                        <span class="custom-thumb-info-title">
                            <span class="custom-thumb-info-type font-weight-light text-md">Gynecology</span>
                            <span class="custom-thumb-info-inner font-weight-semibold text-lg">Mary Ann Doe</span>
                            <i class="icon-arrow-right-circle icons font-weight-semibold text-lg "></i>
                        </span>
                    </span>
                </span>
            </a>
        </div> -->
    </div>
</div>
