<div role="main" class="main">

    <section class="page-header section section-primary section-no-border section-center page-header-custom-background m-none">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class=" text-light pull-left center middle " id="pill-results">
                        Results
                    </h1>
                </div>
            </div>
        </div>
    </section>
</div>

<section class="section section-no-background section-no-border m-none p-none">
    <!--pill component-->
    <div role="main" class="main">
        <div class="container" style="padding-left: 3%;">
            <br>
            <div class="row">
                <ul class="team-list " data-sort-id="team">

                    <app-pill-item class="col-md-4" [pill]="pill" *ngFor="let pill of pills"></app-pill-item>

                </ul>
            </div>
        </div>
    </div>
</section>