<div class="ser-item col-md-4 center">
    <div class="feature-box feature-box-style-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
        <span class="featured-boxes featured-boxes-style-6 p-none m-none">
            <span class="featured-box featured-box-primary featured-box-effect-6 p-none m-none">
                <span class="box-content p-none m-none">
                    <i class="icon-featured icon-bulb icons"></i>
                </span>
            </span>
        </span>
        <div class="feature-box-info">
            <h4 class="mb-sm font-weight-semibold">{{serviceData.title}}</h4>
            <p class="mb-lg">{{serviceData.description}} </p>
        </div>
    </div>
</div>
