<div class="featured-box featured-box-primary align-left mt-xlg">
  <div class="box-content" style="padding-top:18px">
    <div class="row drug-buttons ">
      <div class="col-md-offset-10 col-xs-offset-9">
        <button type="button" class="btn-borders btn-primary btn-info primary btn-xs" (click)="openEditModalWithComponent(food.id)">
          <!-- <a [routerLink]="['/editFood',food.id]"> -->
            <i class="fa fa-edit ">
            </i>
          <!-- </a> -->
        </button>
        <button type="button" class="btn-danger primary btn-xs btn-borders" (click)="onDelete(food.id)">
          <a >
            <i class="fa fa-trash">
            </i>
          </a>
        </button>
      </div>
    </div>
    <div class="row">

      <div class="col-md-2 col-xs-2 col-md-offset-3 col-xs-offset-3">
          <i class="icon-featured pull-left mr-lg">{{food.icon}}</i>
      </div>
    </div>
    <div class="row foodName">
      <strong>{{food.name}}</strong>
            
         
    </div>
  </div>
</div>