<div role="main" class="main shop">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-xs-8 col-xs-offset-2  mt-xlg">
          <div class="input-group">
            <input type="hidden" name="search_param" value="all" id="search_param">
            <input type="text" class="form-control" value="@ViewBag.txtSearch" name="txtSearch" placeholder="Search term...">
            <span class="input-group-btn">
              <button class="btn btn-primary btn-md" type="submit"></button>
              <span>
                <i class="fas fa-search"></i>
              </span>
            </span>
          </div>
        </div>
        <div class="featured-boxes">
          <div class="row">
            <div class="col-sm-4">
              <div class="featured-box featured-box-primary align-left mt-xlg">
                <div class="box-content" style="padding-top:18px">
                  <div class="row drug-buttons ">
                    <div class="col-md-offset-10 col-xs-offset-9">
                      <a>
                        <i class="fas fa-edit"></i>
                      </a>
                      <a>
                        <i class="fas fa-trash">
                        </i>
                      </a>
                    </div>
                  </div>
                  <div class="row">

                    <div class="col-md-4 col-xs-4">
                      <i class="fas fa-book"></i>
                    </div>
                    <div class="col-md-8 col-xs-8">
                      Potassium
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>