<div class="myFilter">
  <aside class="sidebar" id="sidebar" data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 110}}">

      <h4 class="heading-primary">
          <strong>Filter</strong> By
      </h4>

      <ul class="nav nav-list mb-xlg sort-source" data-sort-id="portfolio" data-option-key="filter" data-plugin-options="{'layoutMode': 'fitRows', 'filter': '*'}">
          <li data-option-value="*" class="active">
              <a href="#">Show All</a>
          </li>
          <li data-option-value=".websites">
              <a href="#">Diseases</a>
          </li>
          <li data-option-value=".logos">
              <a href="#">Drugs</a>
          </li>
          <li data-option-value=".brands">
              <a href="#">Active Ingredients</a>
          </li>
          <li data-option-value=".medias">
              <a href="#">Side Effects</a>
          </li>
      </ul>

  </aside>
  </div>