.page-header h1 {
    border-bottom: 5px solid #008fe2;
    color: #fff;
    display: inline-block;
    font-size: 32px;
    font-weight: 200;
    line-height: 49px;
    margin: 0 0 -25px;
    padding: 0 0 25px;
    position: relative;
}
.sidebar
{
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
}
a{
    color:black;
    cursor: pointer;}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}