<section class="page-header" style="padding-bottom: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Active Ingredients</a>
                    </li>
                    <li class="active">{{ai.name}}</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>{{ai.name}}</h1>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-lg-8 ">
            <!--
            <h2 class="font-weight-bold mb-xs">{{ai.name}}</h2>
             <p class="lead font-weight-normal">Alternate Name: acetaminophen</p> 
            <hr/> -->

            <!-- description of the ingredient -->
            <div>
                <!-- <h3 class=" mb-sm">What is {{ai.name}}?</h3> -->
                <p class="lead font-weight-normal mb-xlg ">{{ai.description}}</p>
            </div>

            <!-- Interaction -->
            <div class="mb-xlg">
                <h3 class=" mb-sm">Warnings</h3>
                <div>
                    <h4>Food Interaction</h4>
                </div>
                <div>
                    <h4>Ingredients Interaction</h4>
                    <ul style="list-style:none">
                        <li>
                            <i class="fa fa-circle" style="color:red" aria-hidden="true"></i>
                            <a> 13 </a>
                        </li>
                        <li>
                            <i class="fa fa-circle" style="color:orange" aria-hidden="true"></i>
                            <a> Madda f3ala tanya</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h4>You shouldn't take Acetaminophen if you have :</h4>
                    <ul style="list-style:none">
                        <li>
                            <i class="fa fa-circle" aria-hidden="true"></i>
                            <a> Severe liver disease</a>
                        </li>
                        <li>
                            <i class="fa fa-circle" aria-hidden="true"></i>
                            <a> Severe liver disease</a>
                        </li>
                    </ul>
                </div>
            </div>


            <!-- side effects of the ingredient -->
            <!-- <div>
                <h3 class=" mb-sm">Side effects of Acetaminophen</h3>
                <app-listing-carousel></app-listing-carousel>
            </div> -->

            <!-- drugs containing ingredient -->
            <div>
                <h3 class=" mb-sm">Famous drugs containing Acetaminophen</h3>
                <app-listing-carousel [drugs]=drugs></app-listing-carousel>
            </div>
        </div>



        <div class=" col-lg-4 ">
            <aside class="sidebar" id="sidebar" data-plugin-sticky data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 0}}">
                <h3 class="mt-sm mb-md">Related drugs</h3>
                <span class="thumb-info thumb-info-side-image thumb-info-no-zoom mb-sm">
                    <span class="thumb-info-side-image-wrapper">
                        <img src="img/projects/project-8.jpg" class="img-responsive" alt="" style="width: 200px;">
                    </span>
                    <span class="thumb-info-caption">
                        <span class="thumb-info-caption-text">
                            <h5 class="text-uppercase mb-xs">Project Title</h5>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </span>
                    </span>
                </span>

                <span class="thumb-info thumb-info-side-image thumb-info-no-zoom">
                    <span class="thumb-info-side-image-wrapper">
                        <img src="img/projects/project-8.jpg" class="img-responsive" alt="" style="width: 200px;">
                    </span>
                    <span class="thumb-info-caption">
                        <span class="thumb-info-caption-text">
                            <h5 class="text-uppercase mb-xs">Project Title</h5>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </span>
                    </span>
                </span>
            </aside>
        </div>

    </div>
</div>