@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* You can add global styles to this file, and also import other style files */

body {
    background-color: #FFF;
    color: #777;
    font-family: "Open Sans", Arial, sans-serif !important;
    font-size: 12px;
    line-height: 22px;
    margin: 0;
    overflow: hidden;
}
/*date picker css*/
.theme-green .bs-datepicker-head {
    background-color: #008fe2 !important;
}
.theme-green .bs-datepicker-body table td.week span {
    color:  #008fe2 !important;
}
.theme-green .bs-datepicker-body table td span.selected, .theme-green .bs-datepicker-body table td.selected span, .theme-green .bs-datepicker-body table td span[class*="select-"]:after, .theme-green .bs-datepicker-body table td[class*="select-"] span:after {
    background-color: #008fe2 !important;
}
