<div class="container">
  <div class="row ">

      <div class="col-md-offset-2 col-md-6">
          <div class="post-content">
              <h2>
                  <a href="blog-post.html">Interaction with @Model.FoodName products </a>

              </h2>
              <div class="post-meta">
                  <span>
                      <strong>Degree: </strong>@Model.Degree
                  </span>

              </div>

              <p>
                  <strong>Description: </strong>@Model.Description
              </p>

          </div>
          <div>

              <a class="drug-btn btn btn-borders btn-primary custom-button text-uppercase mt-lg mb-lg font-weight-bold">
                  <i class="fa fa-user-md"></i> Switch to Professional Report
              </a>

          </div>
      </div>
      <div class="col-md-3">
          <aside class="sidebar patient-profile">
              <h4>Other Food Interactions for Panadol</h4>
             
          </aside>
      </div>
  </div>
</div>